.contact_social_media .icon_ig:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_fb:hover {
    background-color: #4267B2;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_pt:hover {
    background-color: #EE1B22;
    color: #Fff;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_tw:hover {
    background-color: #Fff;
    color: #1DA1F2;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_gh:hover {
    background-color: #000;
    color: #Fff;
    transition: 0.5s ease-in-out;
}

/* White template */
.contact_social_media .icon_fb_w:hover {
    background-color: #4267B2;
    color: #000;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_pt_w:hover {
    background-color: #EE1B22;
    color: #000;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_tw_w:hover {
    background-color: #1DA1F2;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.contact_social_media .icon_gh_w:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s ease-in-out;
}
